<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ 'Log in'|trans }} !</title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <link rel="icon" href="{{ asset('assets/img/favicon.ico') }}" type="image/x-icon"/>

    <!-- Fonts and icons -->
    <script src="{{ asset('assets/js/plugin/webfont/webfont.min.js') }}"></script>
    <script>
        WebFont.load({
            google: {"families":["Montserrat:100,200,300,400,500,600,700,800,900"]},
            custom: {"families":["Flaticon", "LineAwesome"], urls: ['{{ asset('assets/css/fonts.css') }}']},
            active: function() {
                sessionStorage.fonts = true;
            }
        });
    </script>
    <!-- CSS Files -->
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/ready.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}">
</head>
<body class="login">
<div class="wrapper wrapper-login">
    <div class="container container-login animated fadeIn">
        {% include 'partial/alert.html.twig' %}
        <h3 class="text-center">{{ 'sign_in_to_admin'|trans }}</h3>
        {% if app.request.get('error') %}
            <div class="alert alert-warning">
                <p>{{ app.request.get('error') }}</p>
            </div>
        {% endif %}
        {% if hasError %}
            <div class="alert alert-warning">
                <p>{{ 'Les informations que vous avez fournies ne sont pas bonnes.'|trans }}</p>
            </div>
        {% endif %}
        <form method="post">
            <div class="form-group"><label for="_username">{{ 'Email'|trans }}</label><input type="text" class="form-control" placeholder="{{ 'Email'|trans }}..." name="_username" value="{{ username }}"></div>
            <div class="form-group"><label for="_password">{{ 'Password'|trans }}</label><input type="password" class="form-control" placeholder="{{ 'Password'|trans }}..." name="_password"></div>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div class="ml-2">
                {{ 'language_preferences'|trans }}
                {% if app.request.locale != 'fr' %}
                    <a href="/app/fr{{ app.request.requestUri|slice(4) }}">FR</a>
                {% else %}
                    <a href="/app{{ app.request.requestUri|slice(7) }}">EN</a>
                {% endif %}
            </div>
            
            <div class="form-group">
                <button type="submit" class="btn btn-primary">
                    <i class="la la-unlock-alt"></i>
                    {{ 'Log in'|trans }} !
                </button>
                <a href="{{ path('app_recovery') }}" class="btn btn-link float-right">
                    <i class="la la-key"></i>
                    {{ 'forget_password'|trans }}
                </a>
                <a href="{{ path('app_register') }}" class="btn btn-link float-right">
                    <i class="la la-key"></i>
                    {{ 'Register'|trans }}
                </a>
            </div>
        </form>
    </div>
</div>
<script src="{{ asset('assets/js/core/jquery.3.2.1.min.js') }}"></script>
<script src="{{ asset('assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js') }}"></script>
<script src="{{ asset('assets/js/core/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/core/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/ready.js') }}"></script>
</body>
</html>