{% extends 'base.html.twig' %}

{% block title %}{{ 'admin_dashboard'|trans }} {% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/demo.css') }}">
    <div class="wrapper">
        <div class="main-header">
            <!-- Logo Header -->
            {% include 'partial/logoheader.html.twig' %}
            <!-- End Logo Header -->
            {% include 'partial/navbar.html.twig' %}
        </div>
        {% include 'partial/sidebar.html.twig' %}
        <div class="main-panel">
            <div class="content">
                <div class="container-fluid">
                    <div class="page-header">
                        <h4 class="page-title">{{ 'dashboard'|trans }}</h4>
                    </div>
                   <div class="row">
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-primary card-round">
								<div class="card-body ">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="flaticon-users"></i>
											</div>
										</div>
										<div class="col-7 col-stats">
											<div class="numbers">
												<p class="card-category">{{ 'users'|trans }}</p>
												<h4 class="card-title">{{ nbrUsers }}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-6 col-md-3">
							<div class="card card-stats card-info card-round">
								<div class="card-body">
									<div class="row">
										<div class="col-5">
											<div class="icon-big text-center">
												<i class="flaticon-interface-6"></i>
											</div>
										</div>
										<div class="col-7 col-stats">
											<div class="numbers">
												<p class="card-category">{{ 'Projects'|trans }}</p>
												<h4 class="card-title">{{ nbrProjects }}</h4>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>        
        </div>
    </div>
{% endblock %}

