<!-- Navbar Header -->
<nav class="navbar navbar-header navbar-expand-lg" data-background-color="blue">
    <div class="container-fluid">
        <div class="navbar-minimize">
            <button class="btn btn-minimize btn-rounded">
                <i class="la la-navicon"></i>
            </button>
        </div>
        <ul class="navbar-nav topbar-nav ml-md-auto align-items-center">

            <li class="nav-item">
                {% if app.request.locale != 'fr' %}
                    <a href="/app/fr{{ app.request.requestUri|slice(4) }}" class="nav-item nav-link text-light">FR</a>
                {% else %}
                    <a href="/app{{ app.request.requestUri|slice(7) }}" class="nav-item nav-link text-light">EN</a>
                {% endif %}
            </li>
            </li>
            <li class="nav-item dropdown hidden-caret">
                <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#" aria-expanded="false"> <img src="{{ asset('assets/img/profile.jpg') }}" alt="image profile" width="36" class="img-circle"></a>

                <ul class="dropdown-menu dropdown-user animated fadeIn">
                    <li>
                        <div class="user-box">
                            <div class="u-img"><img src="{{ asset('assets/img/profile.jpg') }}" alt="image profile"></div>
                            <div class="u-text">
                                <h4>{{ app.user.firstName }}</h4>
                                <p class="text-muted">{{ app.user.email }}</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_profil', { 'id': app.user.id}) }}">{{ 'my_profile'|trans }}</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('app_logout') }}">{{ 'Logout'|trans }}</a>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
</nav>
<!-- End Navbar -->